<div class="jumbotron mt-4">
    <h1 class="display-4">Books App Index Page</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam quod officiis porro est excepturi
        aperiam explicabo, ex quibusdam praesentium inventore voluptates laborum vel voluptatum. Adipisci cumque ullam
        iusto saepe, mollitia blanditiis beatae ut in exercitationem amet illum possimus modi.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>